<footer class="footer">
	<div class="container-fluid">

		<div class="copyright ml-auto">
			<span>© Copyright MyPortfolyo @DateTime.Now.Year</span>
			<span>Design by <a href="#"> Hüseyin Kurban</a></span>
		</div>
	</div>
</footer>


